@media all and (max-width: 1236px) {
    .row_articles {
        flex-direction: column;
    }

    .big_article:nth-child(2) {
        margin-top: 0;
    }

    .big_article .article {
        width: 15em;
        height: 16em;
    }

    .big_article .article .article_text h3,
    .article_text h3 {
        font-size: 1em;
    }

    .big_article .article .article_text {
        margin-top: 15px;
    }

    .big_article:nth-child(1) {
        margin-bottom: 10px;
    }
}

@media all and (max-width: 768px) {
    main,
    footer {
        flex-direction: column;
    }

    main {
        padding: 0 15px;
    }

    footer {
        text-align: center;
    }

    header h1 {
        font-size: 1.6em;
    }

    .subtitle {
        font-size: 7px;
    }

    .article {
        margin: 20px auto;
    }

    li {
        overflow: auto;
    }

    .big_article:nth-child(1) {
        margin-bottom: 0;
    }
}
