body {
    display: flex;
    flex-wrap: wrap;
    background: rgb(238, 238, 238);
    height: 100vh;
    margin: 0;
}

header, main, footer {
    flex-basis: 100%;
}

footer {
    color: rgb(255, 255, 255);
    background: rgb(102, 102, 102);
}