<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Edit Course Page</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="">Create new offer</a>
                </li>
                <li class="site-logo">Shoe</li>
                <li>
                    <a href="">
                        <img src="" alt="">
                    </a>
                </li>
                <li class="site-logo">Shelf</li>
                <li>Welcome, <a href="">Peter Thompson</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Edit Offer</h1>
        <p class="message"></p>
        <form action="" method="">
            <div>
                <input type="text" name="" placeholder="Name..." value="Under Armour HOVR">
            </div>
            <div>
                <input type="text" name=""  placeholder="Price..." value="$149.99">
            </div>
            <div>
                <input type="text" name=""  placeholder="Image url..." value="https://i1.t4s.cz/products/3023295-602/under-armour-ua-w-hovr-phantom-se-trek-263676-3023295-603.jpg">
            </div>
            <div>
                <textarea  name=""  placeholder="Give us some description about this offer...">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis explicabo voluptatibus odio? Deleniti amet qui tenetur ipsa enim blanditiis laboriosam distinctio, dignissimos cupiditate, delectus autem. Explicabo exercitationem voluptatibus reprehenderit repellat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore reiciendis maiores aliquid nobis, accusantium dolore iste ipsa atque deserunt corrupti maxime, alias neque libero temporibus expedita magni perferendis aut nostrum.</textarea>
            </div>
            <div>
                <input type="text"  name=""  placeholder="Brand..." value="Under Armour">
            </div>
            <div>
                <button>Edit</button>
            </div>
        </form>
    </main>
    <footer>
        <p><a href="https://softuni.bg">Software University</a> - JS Back End @ 2020</p>
    </footer>
</body>

</html>