<a href="/hotel/{{_id}}/details" class="added-hotel">
    <img src="{{imgURL}}" alt="hotel-picture"
        class="picture-added-hotel">
    <h3>{{name}}</h3>
    <span>Free rooms: {{freeRooms}}</span>
</a>