<a href="" class="added-hotel">
    <img src="https://image.freepik.com/free-vector/flat-hotel-building-town_52683-10040.jpg" alt=""
        class="picture-added-hotel">
    <h3>Auckland Inn</h3>
    <span>Free rooms: 35</span>
</a>