<app-home *ngIf="!isLogged"></app-home>
<div class="container">
    <app-home *ngIf="isLogged"></app-home>
    <div class="theme-content">
        <!-- theme-title  -->
        <div class="theme-title">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <h2>{{theme.themeName}}</h2>
                    <p>Date: <time>{{theme.created_at}}</time></p>
                </div>
                <div class="subscribers">
                    <p>Subscribers: <span>{{theme.subscribers?.length}}</span></p>
                    <!-- <button class="subscribe">Subscribe</button>
                <button class="unsubscribe">Unsubscribe</button> -->
                </div>
            </div>
        </div>

        <!-- comments  -->
        <app-comment *ngFor="let comment of theme.posts" [comment]="comment"></app-comment>

        <div *ngIf="isLogged" class="answer-comment">
            <p><span>{{username}}</span> comment:</p>
            <div class="answer">
                <form #f="ngForm" (ngSubmit)="onSubmit()">
                    <textarea ngModel name="postText" id="comment" cols="30" rows="10"></textarea>
                    <button>Post</button>
                </form>
            </div>
        </div>

    </div>
</div>