<div class="comment">
    <header class="header">
        <p><span>{{comment.userId.username}}</span> posted on <time>{{comment.created_at}}</time></p>
    </header>
    <div class="comment-main">
        <div class="userdetails">
            <img src="../../../assets/profile.png" alt="avatar">
        </div>
        <div class="post-content">
            <p>{{comment.text}}</p>
        </div>
    </div>
    <div class="footer">
        <fa-icon class="green" (click)="onLikeClick()" [icon]="faThumbsUp" *ngIf="!isLiked"></fa-icon>
        <fa-icon class="red" (click)="onDislikeClick()" [icon]="faThumbsDown" *ngIf="isLiked"></fa-icon>
        <p><span>{{comment.likes.length}}</span> likes</p>
    </div>
</div>