body {
    background: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
    height: 400px;
    margin: 0 20px;
    object-fit: cover;
    border-radius: 6px;
}

img:hover {
    width: 100%;
}