<main>
    <div class="container">

        <section class="details">
            <h1>Theater title: {{play.title}}</h1>
            <div>
                <img src="{{play.imageUrl}}" />
            </div>
        </section>

        <section class="details">
            <h3>Theater Description</h3>
            <p>{{play.description}}</p>
            <div class="buttons">
                <a class="btn delete" href="">Delete</a>
                <a class="btn edit" href="">Edit</a>
                <span class="liked">You have already liked this play!</span>
                <a class="btn like" href="">Like</a>
            </div>
        </section>
    </div>
</main>