<div class="theme-container">
    <div class="theme-name-wrapper">
        <div class="theme-name">
            <a href="#" class="normal">
                <h2></h2>
            </a>
            <div class="columns">
                <div>
                    <p>Date: <time></time></p>
                    <div class="nick-name">
                        <p>Username: <span></span></p>
                    </div>
                </div>
                <div class="subscribers">
                    <!-- <button class="subscribe">Subscribe</button> -->
                    <p>Subscribers: <span></span></p>
                </div>
            </div>
        </div>
    </div>
</div>