@media (max-width: 600px) {
    ul.icons li {
        padding: 0 10px 0 0;
    }

    .thumbnails {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .thumbnails > div {
        flex-direction: column;
        width: 100%;
        margin: 40px auto 0 auto;
        padding-left: 0;
    }

    .thumbnails > div > a > img {
        height: 200px;
        object-fit: fill;
        width: 310px;
    }
}
