<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>JUDGE</title>
    <link rel="stylesheet" type="text/css" href="css/reset-css.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<div class="container-fluid">

    <header th:fragment="nav">
        <nav class="navbar navbar-expand-lg rounded navbar-dark bg-judge font-weight-bold">
            <a class="navbar-brand" href="/">JUDGE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/login" sec:authorize="!isAuthenticated()">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/register" sec:authorize="!isAuthenticated()">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/problems/create" sec:authorize="isAuthenticated()">Create Problem</a>
                        <!--<div class="dropdown show">-->
                        <!--<a class="nav-link dropdown-toggle" href="#" role="button" id="problems-dropdown"-->
                        <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Problems-->
                        <!--</a>-->

                        <!--<div class="dropdown-menu" aria-labelledby="problems-dropdown">-->
                        <!--<a class="dropdown-item" href="/problems/all">All Problems</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="/problems/create">Create Problem</a>-->
                        <!--</div>-->
                        <!--</div>-->
                    </li>
                    <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="/submissions/all">Submissions</a>-->
                    <!--</li>-->
                    <li class="nav-item active">
                        <form th:action="@{/users/logout}" th:method="POST" sec:authorize="isAuthenticated()">
                            <input type="submit" class="nav-link" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
    </header>

    <footer class="mt-5" th:fragment="footer">
        <div class="container-fluid bg-judge rounded">
            <div class="text-white p-2 text-center">&copy; CopyRight Sanity Web Design Studios 2019. All rights
                reserved.
            </div>
        </div>
    </footer>

</div>
</body>
</html>