<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopping list App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:fragment="nav">
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <a class="nav-link text-white active h5" href="/">Shopping List App</a>
        <a class="nav-link text-white active h5" href="/products/add" sec:authorize="isAuthenticated()">Add Product</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/users/login" sec:authorize="!isAuthenticated()">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/users/register" sec:authorize="!isAuthenticated()">Register</a>
                </li>
                <form th:action="@{/users/logout}" th:method="POST" sec:authorize="isAuthenticated()">
                    <input type="submit" class="nav-link text-white active h5" value="Logout"/>
                </form>
            </ul>
        </div>
    </nav>
</header>
<footer th:fragment="footer" class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            &copy; Spring team 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
