.card-home {
    flex: 0 0 20%;
    max-width: 20%;
}

.card-image img {
    width: 100%;
}

.cta {
    margin-top: 20px;
}

.cta a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: steelblue;
    transition: all 0.3s ease;
}

.cta:hover a {
    background-color: blue;
}
