<div class="container">
    <div class="about-us">
        <div>
            <img src="/shoes.jpg" alt="shoe image">
            <img src="/shoes2.jpg" alt="shoe image">
        </div>
        <p>
            <a href="/auth/register">Register Now</a> and Try it!
        </p>
    </div>
</div>