<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::nav">
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add product</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded" th:action="@{/products/add}" th:method="POST" th:object="${productBindingModel}">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input th:field="*{name}" th:errorclass="is-invalid" type="text" class="form-control" id="name" name="name"/>
            <small class="text-danger invalid-feedback"> Name error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea th:field="*{description}" th:errorclass="is-invalid" type="text" class="form-control" id="description" name="description"></textarea>
            <small class="text-danger invalid-feedback">Description error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="neededBefore" class="h4 mb-2">Before</label>
            </div>
            <input th:field="*{neededBefore}" th:errorclass="is-invalid" type="datetime-local" class="form-control" id="neededBefore" name="neededBefore"/>
            <small class="text-danger invalid-feedback">Needed before date error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input th:field="*{price}" th:errorclass="is-invalid" type="number" step="0.1" class="form-control" id="price" name="price"/>
            <small class="text-danger invalid-feedback">Price error message</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category" name="category">
                <option value="" selected>Category</option>
                <option th:each="c : ${T(com.example.ShoppingList.model.enums.CategoryEnum).values()}" th:value="${c}" th:text="${c}">Drink</option>
            </select>
            <small class="text-danger invalid-feedback">Category error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add product</button>
        </div>
    </form>
</main>
<footer th:fragment="fragments/commons::footer">
</footer>
</body>
</html>
