html, * {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

section {
    width: 250px;
    height: 250px;
    border: 3px dashed green;
    text-align: center;
}

p {
    width: 100%;
    border: 3px solid blue;
    margin: 0px;
    padding: 20px 0;
}