@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    text-transform: uppercase;
}

.hero,
.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 70px auto 0 auto;
}

.hero-img,
.hero-content-wrapper {
    flex-basis: 50%;
}

.hero-img {
    width: 55%;
}

.hero-content-title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 100;
}

.hero-content {
    margin-bottom: 40px;
    width: 90%;
    line-height: 2;
    font-size: 14px;
}

.btn {
    border: none;
    padding: 15px 45px;
    border-radius: 25px;
    background: #ff0000;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

.offer {
    background: #fbfcff;
    width: 100%;
    padding: 50px;
    align-items: flex-start;
}

.offer-img {
    width: 45%;
}

.offer-content-wrapper {
    flex-basis: 40%;
}

.offer-content-title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    margin: 0 auto;
    text-align: right;
}

.offer-content-subtitle {
    text-transform: uppercase;
    margin: 0 auto 50px auto;
    text-align: right;
}

.offer-content-subtitle span {
    font-weight: bold;
}

.offer-content {
    margin-bottom: 50px;
}

.offer-actions {
    display: flex;
    align-items: center;
}

.offer-price {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 30px 0 0;
}

.try {
    background: #575757;
    overflow: auto;
}

.try-content {
    max-width: 520px;
    margin: 30px auto 10px auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.try-content-img {
    width: 80px;
}

.try-content-text {
    margin-left: 20px;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px;
}

.try-content-text span {
    font-weight: bold;
}

.try-btn {
    margin: 0 auto 30px auto;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 0 5px 0;
    border: none;
    background: #575757;
    color: white;
    border-bottom: 1px solid white;
    letter-spacing: 1px;
    cursor: pointer;
}

.promo {
    display: flex;
    align-items: center;
    background: #dadada;
    height: 514px;
}

.promo-img-main {
    flex-basis: 50%;
    width: 50%;
}

.promo-text {
    flex-basis: 30%;
    margin: 0 auto 175px auto;
}

.promo-text h3 {
    font-size: 4rem;
    text-transform: uppercase;
    width: 50px;
    margin: 0 0 0 50px;
    color: #333333;
    font-weight: bolder;
}

.promo-text p {
    margin: 10px 0 0 50px;
    font-size: 2rem;
    color: rgb(95, 95, 95);
}

.promo-text p span {
    text-transform: uppercase;
    color: #ff0000;
    font-weight: bold;
}

.promo-img-sub {
    flex-basis: 20%;
    height: 450px;
    margin-right: 20px;
}

footer {
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}