@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
body {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 120px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-basis: 30%;
    text-transform: uppercase;
}

.nav-item {
    text-decoration: none;
    color: #634e6a;
    font-weight: bold;
}

.hero {
    background: #54546d;
    height: 350px;
    margin: 0;
    position: relative;
}

.hero-background-img {
    position: absolute;
    left: -70px;
    top: 80px;
}

.hero-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%);
    width: 1200px;
}

.hero-item {
    background: white;
    box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.4);
    flex-basis: 32%;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.hero-item-title-wrapper {
    height: 200px;
}

.hero-title {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
    font-size: 30px;
}

.hero-item-subtitle {
    max-width: 90%;
    margin: 0 auto;
}

.hero-item-btn {
    border: none;
    padding: 15px 40px;
    border-radius: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background: #9a5dc6;
    margin: 30px 0;
}

.hero-item-content {
    height: 100px;
    overflow: auto;
    background: rgb(3, 155, 61);
    background: linear-gradient(90deg, rgba(3, 155, 61, 1) 0%, rgba(39, 184, 95, 1) 52%, rgba(75, 214, 128, 1) 100%);
    color: white;
}

.hero-item-title-wrapper .hero-item-subtitle:nth-child(3) {
    margin-top: 10px;
}

.hero-item-content.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background: rgb(76, 108, 136);
    background: linear-gradient(90deg, rgba(76, 108, 136, 1) 0%, rgba(87, 131, 171, 1) 52%, rgba(87, 131, 171, 1) 100%);
    position: relative;
}

.hero-item-content.flex.last {
    background: rgb(75, 56, 166);
    background: linear-gradient(90deg, rgba(75, 56, 166, 1) 0%, rgba(108, 91, 195, 1) 52%, rgba(140, 126, 225, 1) 100%);
}

.hero-item-content.flex::after {
    content: "";
    height: 80px;
    width: 1px;
    background: white;
    position: absolute;
    left: 50%;
}

.hero-item-content.flex.last::after {
    content: "";
    height: 80px;
    width: 1px;
    background: white;
    position: absolute;
    left: 50%;
}

.hero-item-content.flex div {
    margin: 0 15px;
}

.hero-item-title,
.hero-item-subtitle {
    color: #634e6a;
}

.hero-item-title {
    margin-top: 40px;
}

.price {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
}

.courses {
    margin-top: 5px;
    font-size: 14px;
}

.hero-item-content-price {
    margin: 5px;
    font-size: 14px;
}

.hero-item-content-title {
    font-size: 1.5rem;
    margin: 22px 0 0 0;
}

.hero-item-content-flex-wrapper {
    flex-basis: 40%;
}

.benefits {
    margin-top: 200px;
    max-width: 900px;
}

.benefits-items {
    border-radius: 10px;
    overflow: hidden;
    margin: 50px 0;
}

.benefit-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefit-item-text {
    flex-basis: 70%;
    padding: 5px 10px;
    margin: 10px 0;
}

.benefit-item:nth-child(odd) {
    background: #e6e6e6;
}

.benefit-item:nth-child(even) {
    background: #f8f8f8;
}

.benefit-item-icon-wrapper {
    flex-basis: 10%;
}

.finance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

footer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: #54546d;
    height: 60px;
    color: lightgray;
    overflow: auto;
}
