.errorContainer {
    position: fixed;
    right: 10px;
    min-width: 100px;
    display: block;
    z-index: 11111;
    top: 55px;
    text-align: center;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    height: auto;
    width: 620px;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    padding: 1em;
}

.errorContainer > p {
    background: #f50;
    font-size: 23px;
    padding: 20px;
    height: auto;
}

.errorContainer {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
