.nav {
    background: rgba(0, 17, 54, 0.85);
    width: 100%;
    display: flex;
    font-size: 1rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 1rem 5rem 1rem 3rem;
    margin: 0%;
}

.nav ul {
    margin: 0 0 0 auto;
}

.nav ul li {
    display: inline-block;
    margin: 0 0.5em;
}

.nav h1 {
    color: white;
}

.nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
}

.nav a:hover {
    font-weight: normal;
    background-color: rgba(129, 115, 115, 0.466);
}
