header h1 {
    text-align: center;
    margin: 3rem;
}

main ul li {
    border: 1px solid black;
    border-radius: 15px;
    list-style: none;
    padding: 2rem;
    margin-bottom: 1rem;
}

#add {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    margin: 3rem;
}

main {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin:  10px 200px;
}

button {
    padding: 1rem 2rem;
    margin: 0rem;
}

input {
    height: 47px;
    width: 300px;
}

ul {
    padding: 1rem;
}

section {
    width: 30%;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {

    main {
        display: block;
    }

    section {
        display: contents;
    }

    input {
        height: 30px;
        width: 230px;
    }

    h2 {
        margin: 10px 170px;
    }

    header button {
        margin-top: 2rem;
    }
    
}
