@import url('reset.css');
@import url('layout.css');
@import url('typography.css');
@import url('responsive.css');
body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed #999;
}

span {
    font-weight: bold;
}

button {
    background-color: #4ebced;
    color: white;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 90%;
    margin: auto;
    padding-bottom: 1.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* mini-navbar */

.mini-navbar ul {
    background-color: #6ba1b8;
    border-radius: 5px;
}

.mini-navbar ul li+li {
    border-left: 1px solid lightgrey;
    padding-left: .5em;
}