@import url('reset.css');
@import url('layout.css');
@import url('typography.css');
@import url('responsive.css');

body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed #999;
}

span {
    font-weight: bold;
}

button {
    background-color: #4ebced;
    color: white;
}

button:hover {
    cursor: pointer;
}



/* mini-navbar */

.mini-navbar ul {
    background-color: #6ba1b8;
    border-radius: 5px;
}

.mini-navbar ul li+li {
    border-left: 1px solid lightgrey;
    padding-left: .5em;
}





/* aside  */

aside {
    width: 29%;
    margin-top: 1em;
    font-size: 0.8em;
}

.aside * {
    margin: 0;
    padding: 0;
}

.aside>div {
    border: 1px solid #999;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
}

.title {
    font-size: 1.5em;
    border-bottom: none;
}

.aside .aside-theme {
    margin: 1rem 0;
    padding: 0.5rem 0;
}

.aside h3 {
    border-bottom: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    background-color: #4ebced;
    padding-left: 0.5rem;
}

.aside-theme+.aside-theme {
    border-top: dashed 1px #999;
}

.aside-theme p {
    text-align: right;
}

.aside-theme a {
    text-decoration: none;
    color: inherit;
}

