<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<div class="container-fluid">
    <header th:replace="fragments/commons::nav">
    </header>
    <main class="mt-3">
        <h1 class="text-center text-judge">Problem Details - The Rounding of Isaac</h1>
        <hr class="hr-2 bg-judge">
        <div class="d-flex justify-content-between">
            <h2 class="text-judge">Problem Id - 62e53d86-b36f-4fbe-9226-a33384cbd7a3</h2>
            <h2 class="text-judge">Success Rate - 33.33 %</h2>
        </div>
        <hr class="hr-2 bg-judge">
        <h3 class="text-judge text-center">Problem Submissions</h3>
        <hr class="hr-2 bg-judge">
        <table class="table table-hover text-judge">
            <thead>
            <tr class="row">
                <th class="col-md-4" scope="col"><h5 class="text-center">Submission</h5></th>
                <th class="col-md-3" scope="col"><h5 class="text-center">User</h5></th>
                <th class="col-md-3" scope="col"><h5 class="text-center">Achieved Result</h5></th>
                <th class="col-md-2" scope="col"><h5 class="text-center">Actions</h5></th>
            </tr>
            </thead>
            <tbody>
            <tr class="row">
                <td class="col-md-4" scope="col"><h5 class="text-center">f8b44d7c-e173-4bc7-990d-7b85dbd2ded0</h5></td>
                <td class="col-md-3" scope="col"><h5 class="text-center">John Doe</h5></td>
                <td class="col-md-3" scope="col"><h2 class="text-center">100 / 100 (100 %)</h2></td>
                <td class="col-md-2 d-flex justify-content-around" scope="col">
                    <a href="/submissions/details/f8b44d7c-e173-4bc7-990d-7b85dbd2ded0" class="btn bg-judge text-white font-weight-bold pt-2"><h4>Details</h4></a>
                </td>
            </tr>
            <tr class="row">
                <td class="col-md-4" scope="col"><h5 class="text-center">078363f2-4951-4d3c-924d-c407931f3b1d</h5></td>
                <td class="col-md-3" scope="col"><h5 class="text-center">John Doe</h5></td>
                <td class="col-md-3" scope="col"><h2 class="text-center">30 / 100 (30 %)</h2></td>
                <td class="col-md-2 d-flex justify-content-around" scope="col">
                    <a href="/submissions/details/078363f2-4951-4d3c-924d-c407931f3b1d" class="btn bg-judge text-white font-weight-bold pt-2"><h4>Details</h4></a>
                </td>
            </tr>
            <tr class="row">
                <td class="col-md-4" scope="col"><h5 class="text-center">9947f032-fde1-488d-a027-654eef777c07</h5></td>
                <td class="col-md-3" scope="col"><h5 class="text-center">Jack Daniels</h5></td>
                <td class="col-md-3" scope="col"><h2 class="text-center">0 / 100 (0 %)</h2></td>
                <td class="col-md-2 d-flex justify-content-around" scope="col">
                    <a href="/submissions/details/9947f032-fde1-488d-a027-654eef777c07" class="btn bg-judge text-white font-weight-bold pt-2"><h4>Details</h4></a>
                </td>
            </tr>
            <tr class="row">
                <td class="col-md-4" scope="col"><h5 class="text-center">babdc3ab-57b3-4271-8253-259d0d40619f</h5></td>
                <td class="col-md-3" scope="col"><h5 class="text-center">Johnnie Walker</h5></td>
                <td class="col-md-3" scope="col"><h2 class="text-center">97 / 100 (97 %)</h2></td>
                <td class="col-md-2 d-flex justify-content-around" scope="col">
                    <a href="/submissions/details/babdc3ab-57b3-4271-8253-259d0d40619f" class="btn bg-judge text-white font-weight-bold pt-2"><h4>Details</h4></a>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="hr-2 bg-judge">
    </main>
    <footer th:replace="fragments/commons::footer">
    </footer>
</div>
</body>
</html>