<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<div class="container-fluid">
    <header th:replace="fragments/commons::nav">
    </header>
    <main class="mt-3 mb-3">
        <div id="problems">
            <div class="problem-row d-flex justify-content-around row mt-4">
                <div th:each="p : ${problems}" th:object="${p}" class="problem bg-judge text-white rounded p-3 col-md-2">
                    <h5 class="text-center font-weight-bold" th:text="*{name}">Name</h5>
                    <h5 class="text-center mt-3">Completed: 75%</h5>
                    <hr class="hr-2 bg-white">
                    <div class="d-flex justify-content-between mt-4">
                        <a th:href="@{/problems/submit/{id}(id = *{id})}"
                           class="text-white font-weight-bold"><h5>Submit</h5></a>
                        <a th:href="@{/problems/details/{id}(id = *{id})}"
                           class="text-white font-weight-bold"><h5>Details</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-5" th:replace="fragments/commons::footer">
    </footer>
</div>
</body>
</html>