<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body>

<div th:replace="fragments/commons::nav">
</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:each="brand : ${brands}" th:object="${brand}" class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Car brand:
                <span th:text="*{name}">Brand name</span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="model : ${brand.models}" th:object="${model}">
                        <th th:text="*{id}">No</th>
                        <th th:text="*{name}">Model Name</th>
                        <th th:text="*{category}">Model Category</th>
                        <th th:text="*{startYear}">Model Start Year</th>
                        <th th:text="*{endYear}">Model End Year</th>
                        <th><img th:src="*{imageUrl}" alt="image" src="/"
                                 class="img-thumbnail rounded"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>
