<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {{#if isLogged}}
                <li>
                    <a href="/shoe/create">Create new offer</a>
                </li>
                <li>
                    <a href="/">
                        <img src="/sneakers.png" alt="sneakers image">
                    </a>
                </li>
                <li>Welcome, {{email}} |
                    <a href="/auth/logout">Logout</a>
                </li>
                {{else}}
                <li class="site-logo">Shoe</li>
                <li>
                    <a href="/">
                        <img src="/sneakers.png" alt="sneakers image">
                    </a>
                </li>
                <li class="site-logo">Shelf</li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>

        {{{body}}}

    </main>
    <footer>
        <p><a href="https://softuni.bg">Software University</a> - JS Back End @ 2020</p>
    </footer>
</body>

</html>