<main>
    <form action="/auth/register" method="POST">
        <h2>Register</h2>
        <div class="on-dark">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Steven" value="{{oldData.username}}">
        </div>

        <div class="on-dark">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="********" value="">
        </div>

        <div class="on-dark">
            <label for="repeatPassword">Repeat Password:</label>
            <input type="password" name="repeatPassword" placeholder="********" value="">
        </div>

        <button class="btn" type="submit">Register</button>
    </form>
</main>